<html>
  <head>

    <title>Forum</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/more.css" />
    <script type="text/javascript" src="/static/jquery.js"></script>


  </head>
  <body>
    
    {{header|safe}}

    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8">
      {{body|safe}}
    </div>
    <div class="col-md-2">&nbsp;</div>

    <script type="text/javascript" src="/static/stuff.js"></script>
  </body>
</html>
