<html>
  <head>

    <title>Register</title>
    <link rel="stylesheet" href="/static/style.css" />

  </head>
  <body>

    <div id="content">

      {% if type == 1 %}
      <div class="alert-error"><span class="name">Error:</span> Username already in use</div>
      {% endif %}

      <form method="post">
	<table class="official">
	  <tr>
	    <th>Username</th>
	    <td><input type="text" name="username" size="12" /></td>
	  </tr>
	  <tr>
	    <th>Password</th>
	    <td><input type="password" name="password" size="12" /></td>
	  </tr>
	  <tr>
	    <th>Confirm Password</th>
	    <td><input type="password" name="password2" size="12" /></td>
	  </tr>
	  <tr>
	    <td colspan="2" style="text-align:center;"><input type="submit" name="register" value="Register" /></td>
	  </tr>
	</table>
      </form>
    </div>

  </body>
</html>
